@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

#content {
	/*background-image: url(../img/16_col.gif);*/
}

footer {
	font-size: 0.8em;
	text-align: center;
}

body {
	font-size: 100%; /* Default is too small */
	color: #333333;
}

/* General */
h1, h2, h3, h4, h5, h6, label, .title {
	font-weight: bold;
	color: #FF0000;
	opacity: 0.8;
}

label {
	font-weight: bold;
}

a, em, strong {
	color: #FF0000;
}

a {
	text-decoration: none;
}

th {
	font-weight: bold;
	text-align: center;
}

/* Form elements */

input[type=text] {
	border-style: none;
	border-bottom: 1px solid #000;
}

input[type=submit] {
	cursor: pointer;
	border-style: none;
	background-color: #ff0000;
	color: #ffffff;
	font-weight: bold;
}

.button{
	background-color: #ff0000;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #ff000;
	padding: 10px;
	border-radius: 8px;
}

.error {
	color: #FF0000;
	font-weight: bold;
}

.info {
	color: #007F00;
	font-weight: bold;
}

#site-title {
	font-family: 'Leckerli One', cursive;
	display: inline;
	opacity: 0.7;
}

/* main/index */
#frontpage-banner {
	text-align: center;
}

#table-listing {
	border-right: 1px solid #efefef;
}

#table-listing li {
	margin-left: 0px;
	list-style-type: none;
}

/* wedding/table */
ul.guest-list {
	list-style: none;
}

ul.guest-list li {
	margin-bottom: 10px;
}

/* wedding/search_guest */
table.search_result {
	width: 50%;
	border-collapse:separate;
	border-spacing: 2px;
}

table.search_result td {
	padding: 2px;
}

table.search_result tr:nth-child(even) {
	background-color: #fff0f0;
}
